*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

/*// Glow Border Animation //*/
 

.animated-border-box, .animated-border-box-glow{
    max-height: 220px;
    max-width: 250px;
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden; 
    z-index: 0;
    /* Border Radius */
      border-radius: 10px;
  }
  
  .animated-border-box-glow{
    overflow: hidden;
    /* Glow Blur */
    filter: blur(10px);
  }
  
  .animated-border-box:before, .animated-border-box-glow:before {
    content: '';
    z-index: -2;
    text-align: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(0deg);
    position: absolute;
      width: 99999px;
      height: 99999px;
      background-repeat: no-repeat;
      background-position: 0 0;
    /*border color, change middle color*/
      background-image: conic-gradient(rgba(0,0,0,0), #1976ed, rgba(0,0,0,0) 25%);
    /* change speed here */
      animation: rotate 4s linear infinite;
  }
  
  .animated-border-box:after {
      content: '';
      position: absolute;
      z-index: -1;
    /* border width */
      left: 5px;
      top: 5px;
    /* double the px from the border width left */
      width: calc(100% - 10px);
      height: calc(100% - 10px);
    /*bg color*/
      background: #292a2e;
    /*box border radius*/
      border-radius: 7px;
  }
  
  @keyframes rotate {
      100% {
          transform: translate(-50%, -50%) rotate(1turn);
      }
  }
  
  /*// Border Animation END//*/
  
  
  
  /*// Ignore This //*/
  body {
    margin: 0px;
  }

  #container{
    height: 100px;
    width: 100px;
  }

  .f {
    margin-top: 50%;
    font-size: xx-large;
  }
  .score, .f{
    /* height: 100vh; */
    font-size: large;
   
    margin-top: 110px;
    margin-right: 15px;
    /* display: block; */
    /* display: flex; */
    color:rgb(203, 218, 2);
    /* color:#cacaca;
    color: #696969;
    color: #4b88c2; */
    margin-right: -20px;
    /* justify-content: right;  */
    /* align-items: center; */
    /* background-color: #1d1e2294; */
    
  }
  .titles {
   
    /* height: 100vh; */
    font-size: large;
    margin-top: 10px;
    margin-left: 20px;
    /* display: flex; */
    color:rgb(235, 235, 235);
    /* justify-content: right; */
    /* align-items: center; */
    /* background-color: #1d1e2294; */
    
  }
  
  .center-box{

    height: 100vh;
    font-size: large;
  
    display: block;
    color:aliceblue;
    justify-content: center;
    align-items: center;
    background-color: #1d1e2294;
    filter: blur(0px);
  }

  